---
import FeedbackForm from "@/components/FeedbackForm.astro";
import SocialCard from "@/components/SocialCard.astro";
---

<footer class="relative overflow-hidden">
    <svg
        class="absolute -bottom-20 start-1/2 w-[1900px] transform -translate-x-1/2"
        width="2745"
        height="488"
        viewBox="0 0 2745 488"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M0.5 330.864C232.505 403.801 853.749 527.683 1482.69 439.719C2111.63 351.756 2585.54 434.588 2743.87 487"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 308.873C232.505 381.81 853.749 505.692 1482.69 417.728C2111.63 329.765 2585.54 412.597 2743.87 465.009"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 286.882C232.505 359.819 853.749 483.701 1482.69 395.738C2111.63 307.774 2585.54 390.606 2743.87 443.018"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 264.891C232.505 337.828 853.749 461.71 1482.69 373.747C2111.63 285.783 2585.54 368.615 2743.87 421.027"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 242.9C232.505 315.837 853.749 439.719 1482.69 351.756C2111.63 263.792 2585.54 346.624 2743.87 399.036"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 220.909C232.505 293.846 853.749 417.728 1482.69 329.765C2111.63 241.801 2585.54 324.633 2743.87 377.045"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 198.918C232.505 271.855 853.749 395.737 1482.69 307.774C2111.63 219.81 2585.54 302.642 2743.87 355.054"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 176.927C232.505 249.864 853.749 373.746 1482.69 285.783C2111.63 197.819 2585.54 280.651 2743.87 333.063"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 154.937C232.505 227.873 853.749 351.756 1482.69 263.792C2111.63 175.828 2585.54 258.661 2743.87 311.072"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 132.946C232.505 205.882 853.749 329.765 1482.69 241.801C2111.63 153.837 2585.54 236.67 2743.87 289.082"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 110.955C232.505 183.891 853.749 307.774 1482.69 219.81C2111.63 131.846 2585.54 214.679 2743.87 267.091"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 88.9639C232.505 161.901 853.749 285.783 1482.69 197.819C2111.63 109.855 2585.54 192.688 2743.87 245.1"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 66.9729C232.505 139.91 853.749 263.792 1482.69 175.828C2111.63 87.8643 2585.54 170.697 2743.87 223.109"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 44.9819C232.505 117.919 853.749 241.801 1482.69 153.837C2111.63 65.8733 2585.54 148.706 2743.87 201.118"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 22.991C232.505 95.9276 853.749 219.81 1482.69 131.846C2111.63 43.8824 2585.54 126.715 2743.87 179.127"
            class="stroke-border"
            stroke="currentColor"
        ></path>
        <path
            d="M0.5 1C232.505 73.9367 853.749 197.819 1482.69 109.855C2111.63 21.8914 2585.54 104.724 2743.87 157.136"
            class="stroke-border"
            stroke="currentColor"
        ></path>
    </svg>

    <div class="relative z-10">
        <div
            class="w-full max-w-7xl px-4 md:px-8 py-10 md:pt-16 mx-auto flex flex-col">
            <div
                class="grid sm:grid-cols-2 lg:grid-cols-3 my-10 lg:my-14 gap-6 lg:gap-12">
                <div class="sm:col-span-2 lg:col-span-1">
                    <FeedbackForm />
                </div>

                <div class="flex flex-col gap-6 lg:gap-8">
                    <SocialCard />
                    <SocialCard />
                </div>

                <div
                    class="p-4 relative z-10 bg-gradient-to-b from-card to-background/60 border rounded-xl md:p-8 w-full flex flex-col justify-between">
                    <h3 class="text-lg sm:text-xl font-bold">Get the app</h3>

                    <a
                        href="/"
                        class="group bg-card flex items-center justify-center hover:bg-card/80 w-full aspect-[3/1] transition focus:outline-none rounded-lg border hover:shadow-md hover:shadow-card">
                        <div class="inline-flex py-3 px-5 items-center">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="size-8 stroke-2 group-hover:text-primary"
                                ><path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"
                                ></path><path
                                    d="M4 3.71v16.58a.7 .7 0 0 0 1.05 .606l14.622 -8.42a.55 .55 0 0 0 0 -.953l-14.622 -8.419a.7 .7 0 0 0 -1.05 .607z"
                                ></path><path d="M15 9l-10.5 11.5"></path><path
                                    d="M4.5 3.5l10.5 11.5"></path>
                            </svg>
                            <span
                                class="ml-4 flex items-start flex-col leading-none">
                                <span
                                    class="text-xs text-foreground/60 uppercase group-hover:text-primary/60"
                                    >Get it on</span
                                >
                                <span class="font-medium text-lg group-hover:text-primary"
                                    >Google Play</span
                                >
                            </span>
                        </div>
                    </a>
                    <a
                        href="/"
                        class="group bg-card flex items-center justify-center hover:bg-card/80 w-full aspect-[3/1] transition focus:outline-none rounded-lg border hover:shadow-md hover:shadow-card">
                        <div class="inline-flex py-3 px-5 items-center">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="size-8 stroke-2 group-hover:text-primary"
                                ><path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"
                                ></path><path
                                    d="M8.286 7.008c-3.216 0 -4.286 3.23 -4.286 5.92c0 3.229 2.143 8.072 4.286 8.072c1.165 -.05 1.799 -.538 3.214 -.538c1.406 0 1.607 .538 3.214 .538s4.286 -3.229 4.286 -5.381c-.03 -.011 -2.649 -.434 -2.679 -3.23c-.02 -2.335 2.589 -3.179 2.679 -3.228c-1.096 -1.606 -3.162 -2.113 -3.75 -2.153c-1.535 -.12 -3.032 1.077 -3.75 1.077c-.729 0 -2.036 -1.077 -3.214 -1.077z"
                                ></path><path
                                    d="M12 4a2 2 0 0 0 2 -2a2 2 0 0 0 -2 2"
                                ></path>
                            </svg>
                            <span
                                class="ml-4 flex items-start flex-col leading-none">
                                <span
                                    class="text-xs text-foreground/60 uppercase group-hover:text-primary/60"
                                    >Download on the</span
                                >
                                <span class="font-medium text-lg group-hover:text-primary"
                                    >App Store</span
                                >
                            </span>
                        </div>
                    </a>
                    <a
                        href="/"
                        class="group bg-card flex items-center justify-center hover:bg-card/80 w-full aspect-[3/1] transition focus:outline-none rounded-lg border hover:shadow-md hover:shadow-card">
                        <div class="inline-flex py-3 px-5 items-center">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="size-8 stroke-2 group-hover:text-primary"
                                ><path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"
                                ></path><path
                                    d="M17.8 20l-12 -1.5c-1 -.1 -1.8 -.9 -1.8 -1.9v-9.2c0 -1 .8 -1.8 1.8 -1.9l12 -1.5c1.2 -.1 2.2 .8 2.2 1.9v12.1c0 1.2 -1.1 2.1 -2.2 1.9z"
                                ></path><path d="M12 5l0 14"></path><path
                                    d="M4 12l16 0"></path>
                            </svg>
                            <span
                                class="ml-4 flex items-start flex-col leading-none">
                                <span
                                    class="text-xs text-foreground/60 uppercase group-hover:text-primary/60"
                                    >Get it from</span
                                >
                                <span class="font-medium text-lg group-hover:text-primary"
                                    >Microsoft</span
                                >
                            </span>
                        </div>
                    </a>
                </div>
            </div>

            <div
                class="flex flex-col md:flex-row md:justify-between gap-6 items-center">
                <div class="inline-flex items-center">
                    <!-- Branding -->
                    <a
                        class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-none focus:opacity-80"
                        href="/"
                        aria-label="Quran Index">
                        <span class="text-xl font-bold">QuranIndex</span>
                    </a>
                    <!-- End Branding -->
                    <div class="border-s border-primary ps-5 ms-5">
                        <p class="text-sm text-foreground/60">
                            © Quran Index.
                        </p>
                    </div>
                </div>

                <!-- Socials -->
                <div class="space-x-3">
                    <a
                        class="size-8 inline-flex justify-center items-center text-sm font-semibold rounded-full border border-transparent text-foreground hover:bg-primary/20 focus:outline-none focus:bg-primary/20 disabled:opacity-50 disabled:pointer-events-none"
                        href="/">
                        <svg
                            class="shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 16 16">
                            <path
                                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                            ></path>
                        </svg>
                    </a>
                    <a
                        class="size-8 inline-flex justify-center items-center text-sm font-semibold rounded-full border border-transparent text-foreground hover:bg-primary/20 focus:outline-none focus:bg-primary/20 disabled:opacity-50 disabled:pointer-events-none"
                        href="/">
                        <svg
                            class="shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 16 16">
                            <path
                                d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"
                            ></path>
                        </svg>
                    </a>
                    <a
                        class="size-8 inline-flex justify-center items-center text-sm font-semibold rounded-full border border-transparent text-foreground hover:bg-primary/20 focus:outline-none focus:bg-primary/20 disabled:opacity-50 disabled:pointer-events-none"
                        href="/">
                        <svg
                            class="shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 16 16">
                            <path
                                d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
                            ></path>
                        </svg>
                    </a>
                    <a
                        class="size-8 inline-flex justify-center items-center text-sm font-semibold rounded-full border border-transparent text-foreground hover:bg-primary/20 focus:outline-none focus:bg-primary/20 disabled:opacity-50 disabled:pointer-events-none"
                        href="/">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="shrink-0 size-4"
                            ><path
                                stroke="none"
                                d="M0 0h24v24H0z"
                                fill="none"
                            ></path><path
                                d="M18 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-12a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-9 6v6a1 1 0 0 0 1.514 .857l5 -3a1 1 0 0 0 0 -1.714l-5 -3a1 1 0 0 0 -1.514 .857z"
                            ></path></svg
                        >
                    </a>
                </div>
                <!-- End Socials -->
            </div>
        </div>
    </div>
</footer>
