<a
    class="group flex flex-col bg-card border shadow-sm rounded-xl hover:shadow-md focus:outline-none focus:shadow-md transition hover:ring-1 focus:ring-1 ring-border"
    href="/">
    <div class="p-4 md:p-5">
        <div class="flex justify-between items-center gap-x-3">
            <div class="grow">
                <div class="flex items-center gap-x-3">
                    <img
                        class="size-10 rounded-full border"
                        src="https://cdn-icons-png.flaticon.com/512/3015/3015772.png"
                        alt="Flag"
                    />
                    <div class="grow">
                        <h3
                            class="group-hover:text-primary font-semibold">
                            Bangla
                        </h3>
                    </div>
                </div>
            </div>
            <div>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5 shrink-0 group-hover:translate-x-1 transition">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m8.25 4.5 7.5 7.5-7.5 7.5"
                    ></path>
                </svg>
            </div>
        </div>
    </div>
</a>
