---
import type { Reciter } from "@/data/reciters";

interface Props {
    reciter: Reciter;
}

const { reciter } = Astro.props as Props;
---

<a
    class="group relative flex flex-col h-full border hover:shadow-sm focus:outline-none focus:shadow-sm transition duration-300 rounded-xl hover:border-transparent hover:shadow-primary/60 focus:border-transparent focus:shadow-primary/60 aspect-[2/1] w-full flex-shrink-0 overflow-hidden before:absolute before:inset-x-0 before:z-[1] before:size-full before:bg-gradient-to-t before:from-background/80"
    href="/">
    <img
        class="absolute start-0 top-0 size-full object-cover transition duration-500 group-hover:scale-110 opacity-80 group-hover:opacity-50"
        src={reciter.imageUrl}
        alt={reciter.name}
    />
    <div class="absolute inset-x-0 bottom-0 z-10 p-4">
        <h3
            class="font-bold text-foreground group-hover:text-primary sm:text-lg line-clamp-1">
            {reciter.name}
        </h3>
    </div>
</a>
