<div class="group flex flex-col bg-card border shadow-sm rounded-xl h-full justify-between">
    <div
        class="px-8 py-4 bg-blue-600 rounded-t-xl">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="size-16 stroke-primary fill-none m-auto"
            ><path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
            ></path><path
                d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
            ></path></svg
        >
    </div>

    <div class="p-2 md:px-6 flex items-center justify-center gap-6 text-center">
        <div>
            <span
                class="block mb-1 text-xs font-semibold uppercase text-foreground/60">
                Following
            </span>
            <h3 class="text-xl font-semibold text-primary">999</h3>
        </div>

        <div class="border-s-2 min-h-10"></div>

        <div>
            <span
                class="block mb-1 text-xs font-semibold uppercase text-foreground/60">
                Followers
            </span>
            <h3 class="text-xl font-semibold text-primary">999</h3>
        </div>
    </div>

    <a
        href="/"
        class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-bold transition rounded-b-xl border hover:bg-primary focus:outline-none focus:bg-primary disabled:opacity-50 disabled:pointer-events-none hover:text-background duration-300"
        >Follow</a
    >
</div>
