---
import { surahs } from "@/data/surahs";

const tableHeaders = ["Number", "Surah Name", "Download", "Listen & Read"];
---

<div
    class="flex flex-col bg-card bg-gradient-to-br from-card/40 to-background border rounded-xl p-4 md:p-8">
    <!-- Surah Table -->
    <div class="-m-1.5 overflow-auto max-h-[650px]">
        <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="overflow-hidden">
                <table class="min-w-full divide-y divide-border">
                    <thead>
                        <tr>
                            {
                                tableHeaders.map((label, index) => (
                                    <th
                                        scope="col"
                                        class={`px-6 py-3 text-xs font-medium text-foreground/60 uppercase text-nowrap ${index === tableHeaders.length - 1 ? "text-end" : "text-start"}`}>
                                        {label}
                                    </th>
                                ))
                            }
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-border">
                        {
                            surahs.map((surah) => (
                                <tr class="hover:bg-card">
                                    <td class="px-6 py-4 whitespace-nowrap text-sm">
                                        {surah.number}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                                        {surah.name}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm">
                                        <a
                                            href="/"
                                            class="py-1 px-3 inline-flex justify-center items-center text-sm font-bold transition rounded-lg border hover:bg-primary/80 focus:outline-none bg-card focus:bg-primary/80 disabled:opacity-50 disabled:pointer-events-none text-primary hover:text-background">
                                            Download
                                        </a>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                        <a
                                            href="/"
                                            class="py-1 px-3 inline-flex justify-center items-center text-sm font-bold transition rounded-lg border border-transparent bg-primary hover:bg-primary/80 focus:outline-none focus:bg-primary/80 disabled:opacity-50 disabled:pointer-events-none text-background">
                                            Play Online
                                        </a>
                                    </td>
                                </tr>
                            ))
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End Surah Table -->
</div>
